@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Jersey+10&family=Workbench&display=swap');

body {
	font-family: "Jersey 10", sarif;
	font-size: larger;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: "Bytesized", sarif;
	font-size: 36;
}

header {
	margin: 1rem;
	top: 1rem !important;
}

.fill {
	width: 100%; 
	height: 100%;
}

.border {
	border-width: 1px;
	border-color: black;
}

.round {
	border-radius: 20px;
}

.bi {
	font-size: 1.5rem;
}

.logo {
	font-size: 2.5rem;
}

/*class to mimic a crt screen effect*/
.crt {
	/*Set Background*/
	background-color: #171717;
	background-image: url(img/scanlines.png);

	/*Theming*/
	border-radius: 50px;
	color: #00ff00;
	font-family: "Workbench", monospace;
	text-shadow: 0 0 10px #00ff00;
	filter: blur(1px);
	padding: 2rem;
}

/*fonts*/
.workbench-IBM {
	font-family: "Workbench", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"BLED" 0,
		"SCAN" 0;
}

.bytesized-regular {
	font-family: "Bytesized", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: large;
}

.jersey-10-regular {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
}